
<div class="container-fluid">
  <div class="container">
    <div class="head">Doctor Dashboard</div>
    <hr>
    <div class="content" *ngIf="this.DoctorDetails.name != undefined">
      <div class="card mt-2">
        <div class="doc w-100 p-2 d-flex flex-row align-items-center">
          <div class="doc-image">
            <img class="border border-1 border-secondary rounded-circle p-1"
              [src]="'../../../assets/images/doctor.png'" alt="Patient Image" width="150px" height="150px" />
          </div>
          <div class="doc-info d-flex flex-column">
            <div class="col">
              <div class="row py-2">
                <div class="col-md-12">
                  <b>DocID: </b>
                  <span class="docID">
                    <b>{{ DoctorDetails.id }}</b>
                  </span>
                </div>
              </div>
              <div class="row-md-12 d-flex flex-row">
                <div class="col-md-8 d-flex flex-column">
                  <div>
                    <b>Full Name: </b>
                    <span class="fName">
                      {{DoctorDetails.name.givenNames }}
                      {{ DoctorDetails.name.surname }}
                    </span>
                  </div>
                  <div>
                    <b>Date of Birth:</b>
                    <span class="Doj">
                      {{ this.getStringDate(DoctorDetails.birthDate) }}
                    </span>
                  </div>
                  <div>
                    <b>Gender: </b>
                    <span class="speciality">
                      {{ this.getStringGender(DoctorDetails.gender) }}
                    </span>
                  </div>
                  <div>
                    <b>Address: </b>
                    <span class="address">
                      {{ DoctorDetails.homeAddress.street }},
                      {{ DoctorDetails.homeAddress.city }},
                      {{ DoctorDetails.homeAddress.state }},
                      {{ DoctorDetails.homeAddress.country }},
                      {{ DoctorDetails.homeAddress.postalCode }}
                    </span>
                  </div>
                </div>
                <div class="col-md-8 d-flex flex-column">
                  <div>
                    <b>Email: </b>
                    <span class="emailID">{{ DoctorDetails.telecom.email }}</span>
                  </div>
                  <div>
                    <b>Phone Number: </b>
                    <span class="phone">
                      {{ DoctorDetails.telecom.phoneNumber }}
                    </span>
                  </div>
                  <div>
                    <b>Preferred Language: </b>
                    <span class="city">
                      {{ DoctorDetails.communication.preferred }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>