<div class="content">
  <div class="card mt-2" *ngIf="this.PatientDetails != {}">
    <div class="patient w-100 p-2 d-flex flex-row align-items-center">
      <div class="patient-image">
        <img class="border border-1 border-secondary rounded-circle p-1" [src]="'../../../assets/images/patient.png'"
          alt="Patient Image" width="150px" height="150px" />
      </div>
      <div class="patient-info d-flex flex-column">
        <div class="col">
          <div class="row py-2">
            <div class="col-md-12">
              <b>PatID:</b>
              <span class="docID">
                <b>{{ PatientDetails.id }}</b>
              </span>
            </div>
          </div>
          <div class="row-md-12 d-flex flex-row">
            <div class="col-md-8 d-flex flex-column">
              <div>
                <b>Full Name:</b>
                <span class="fName">
                  {{ PatientDetails.name.givenNames }}
                  {{ PatientDetails.name.surname }}
                </span>
              </div>
              <div>
                <b>Date of Birth:</b>
                <span class="Doj">
                  {{ this.getStringDate(PatientDetails.birthDate) }}
                </span>
              </div>
              <div>
                <b>Gender:</b>
                <span class="speciality">
                  {{ this.getStringGender(PatientDetails.gender) }}
                </span>
              </div>
              <div>
                <b>Address:</b>
                <span class="address">
                  {{ PatientDetails.homeAddress.street }},
                  {{ PatientDetails.homeAddress.city }},
                  {{ PatientDetails.homeAddress.state }},
                  {{ PatientDetails.homeAddress.country }},
                  {{ PatientDetails.homeAddress.postalCode }}
                </span>
              </div>
            </div>
            <div class="col-md-8 d-flex flex-column">
              <div>
                <b>Email:</b>
                <span class="emailID">{{ PatientDetails.telecom.email }}</span>
              </div>
              <div>
                <b>Phone Number:</b>
                <span class="phone">
                  {{ PatientDetails.telecom.phoneNumber }}
                </span>
              </div>
              <div>
                <b>Preferred Language:</b>
                <span class="city">
                  {{ PatientDetails.communication.preferred }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="head" *ngIf="this.pastReports.length >= 1">
  Previous Visit Reports
</div>
<hr>
<div class="content" *ngIf="this.pastReports.length >= 1">
  <div class="card mt-2">
  <mat-accordion>
    <mat-expansion-panel class="patient" *ngFor="let report of this.pastReports; let i = index">
      <mat-expansion-panel-header [collapsedHeight]="'2.5rem'">
        <mat-panel-title>
          Visit Report {{ i + 1 }}: 
        </mat-panel-title>
        <mat-panel-description>
          {{ this.getStringDate(report.timestamp)}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="patient w-100 p-2 d-flex flex-row align-items-center">
        <div class="patient-info d-flex flex-column">
          <div class="col">
            <div class="row py-2">
              <div class="col-md-12">
                <b>Practitioner ID:</b>
                <span class="docID">
                  {{ report.practitionerId }}
                </span>
                <br>
                <b>Organisation ID:</b>
                  <span class="fName">
                    {{ report.organisationId }}
                  </span>
              </div>
            </div>
            <div class="row-md-16 d-flex flex-row">
              <div class="col-md-16 d-flex flex-column">
                <div>
                  <b>Diagnosis:</b>
                  <span class="Doj">
                    {{report.diagnosis}}
                  </span>
                </div>
                <div class="form-group" *ngIf="report.medicationName.length >= 1">
                  <b>Medication:</b>
                  <table id="medicines_table" class="table table-hover mb-2">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Medicine Name</th>
                        <th>Dosage</th>
                        <th>Unit</th>
                        <th>no. of Days</th>
                        <th>Remarks</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let med of report.medicationName; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{med}}</td>
                        <td>{{report.dosage[i]}}</td>
                        <td>{{report.unit[i]}}</td>
                        <td>{{report.noOfDays[i]}}</td>
                        <td>{{report.remarks[i]}}</td>
                      </tr>
                  </table>
                    </div>
                    <div class="form-group" *ngIf="report.clinicalTests.length >= 1 && report.clinicalTests[0] != ''">
                      <b>Clinical Tests:</b>
                      <table id="tests_table" class="table table-hover mb-2">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Test Name</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let med of report.clinicalTests; let i = index;">
                            <td>{{i+1}}</td>
                            <td>{{med}}</td>
                          </tr>
                      </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
    </mat-expansion-panel>
   
  </mat-accordion>
</div>
</div>
<br>
<div *ngIf="!this.addReport">
  <button (click)="this.onAddReport();" id="siu" class="btn btn-primary"> <i class="fas fa-plus"></i> Add</button>
</div>
<div *ngIf="this.addReport">
  <button (click)="this.onAddReport();" id="siu" class="btn btn-primary"> <i class="fas fa-minus"></i> Cancel</button>
</div>
<div class="content" *ngIf="this.addReport">
  <div class="head">
    New Report
  </div>
  <hr>
  <form #recForm="ngForm" class="card mt-2" (ngSubmit)="onPatientRecordSubmit()">
    <div class="col-md-12 mt-3">
      <h4 class="form-title"><span>Diagnosis
        <hr></span></h4>
      <span class="fas fa-prescription fs-5"></span>
      <div class="diagnosis w-100">
        <textarea [(ngModel)]="model.diagnosis" class="form-control w-80" name="diagnosis" id="diagnosis"
          style="height: 250px; border-radius: 20px;"></textarea>
      </div>
    </div>

    <div class="col-md-12 col-sm-6 mt-3">
      <h4 class="form-title"><span>Recommended Medication
        <hr></span></h4>
      <div class="form-group">
        <div class="col-md-12 mt-3 mb-4">
          <table id="medicines_table" class="table table-hover mb-2">
            <thead>
              <tr>
                <th>#</th>
                <th>Medicine Name</th>
                <th>Dosage</th>
                <th>Unit</th>
                <th>no. of Days</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let medication of Medication ;let i = index">
                <td>{{i+1}}</td>
                <td>{{medication.medicationName}}</td>
                <td>{{medication.dosage}}</td>
                <td>{{medication.unit}}</td>
                <td>{{medication.noOfDays}}</td>
                <td>{{medication.remarks}}</td>
                <td><a class="btn btn-danger px-2 py-1" (click)="Medication.pop()"><i class="fas fa-trash-alt"></i></a>
                </td>

              </tr>


              <tr>
                <td></td>
                <td><input [(ngModel)]="med.medicationName" name="name" class="form-control" id="med1" type="text"
                    placeholder="Medicine Name" required></td>
                <td style="width: 12%;">
                  <input [(ngModel)]="med.dosage" class="form-control" id="med2" type="number" placeholder="Dosage"
                    name="dos" min="1" />
                </td>
                <td style="width: 15%;">
                  <select [(ngModel)]="med.unit" class="form-select form-control" id="med3" name="freq">
                    <option value="ml">ml</option>
                    <option value="mg">mg</option>
                    <option value="Capsules">Capsules</option>
                    <option value="Drops">Drops</option>
                  </select>
                </td>
                <td style="width: 13%;">
                  <input [(ngModel)]="med.noOfDays" class="form-control" id="med4" type="number" placeholder="No.of Days"
                    name="nod" min="1">
                </td>
                <td style="width:20%"><input [(ngModel)]="med.remarks" name="Remarks" class="form-control" id="remark"
                    type="text" placeholder="remarks">
                </td>
                <td>
                  <a class="btn btn-dark px-2 py-1 fw-normal" (click)="onMedicinesSave()">
                    <i class="fa fa-capsules"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-6">
          <h4 class="form-title"><span>Recommended Clinical Test
              <hr></span></h4>
        </div>
        <div class="col-md-6">
          <table class="table table-hover mb-3">
            <thead>
              <th>#</th>
              <th>Clinical Test</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let test of ClinicalTest;let i = index">
                <td>{{i+1}}</td>
                <td>{{test}}</td>
                <td><a class="btn btn-danger px-2 py-1" (click)="ClinicalTest.pop()"><i
                      class="fas fa-trash-alt"></i></a></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <select [(ngModel)]="clinic" name="name" class="form-select form-control" id="clinicaltest">
                    <option value="Chest X-Ray" title="d">Chest X-Ray</option>
                    <option value="CT Scan - Thorasic">CT Scan - Thorasic</option>
                    <option value="Urinalysis">Urinalysis</option>
                    <option value="Hemoglobin A1C">Hemoglobin A1C</option>
                    <option value="Complete Blood Count">Complete Blood Count</option>
                    <option value="Electrocardiogram">Electrocardiogram</option>
                    <option value="Coagulation Tests">Coagulation Tests</option>
                    <option value="Autoantibodies">Autoantibodies</option>
                    <option value="Electroencephalogram">Electroencephalogram</option>
                    <option value="Arthroscopy">Arthroscopy</option>
                  </select>
                </td>
                <td>
                  <a class="btn btn-warning" (click)="onTestSave()">
                    <i class="fas fa-vial"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="col-md-6">
          <h4 class="form-title"><span>Follow up</span></h4>
          <hr>
        </div>
        <div class="col-md-3">
          <div class="cards">
            <table class="table table-nowrap mb-0">
              <tbody>
                <tr>
                  <select [(ngModel)]="model.followup" name="followup" class="form-select form-control" id="followup">
                    <option value="After 1 Week">After 1 Week</option>
                    <option value="After 2 Weeks">After 2 Weeks</option>
                    <option value="After 3 Weeks">After 3 Weeks</option>
                    <option value="After 1 month">After 1 Month</option>
                  </select>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- <div class=" col-md-8 files my-3">
        <div class="h4">Add Medical Files
          <hr>
        </div>
        <div class="files-preview row">
          <div class="preview m-1 col-md-3 col-sm-6" *ngFor="let file of LabFiles">
            <img [src]="file" alt="">
          </div>
        </div>
        <input class="form-control my-3" type="file" multiple #files (change)="onFileAdd($event)">
      </div> -->
    </div>
    <div class="col-md-12 mt-3">
      <button type="submit" id="btn" class="btn btn-primary"> <i class="fas fa-save"></i> Save</button>
    </div>
  </form>
</div>