<div class="container-fluid">
  <div class="container mb-4">
    <form [noValidate]="false" #docForm="ngForm" (ngSubmit)="onAddDocSubmit()">
      <div class="row form-row">
        <div class="col-12">
          <div class="usr-image d-flex justify-content-center flex-column align-items-center mt-3 mb-5 object-fit">
            <img class="image rounded-circle" [src]=" image_url || '../../../assets/images/doctor.png'" alt="user" width="150px">
            <!-- <div class="img-c mb-3 mt-3 col-md-6 d-flex flex-column">
              <label class="form-label text-center" for="formFile">Select Doctor image</label>
              <input class="img-chooser form-control" type="file" id="formFile" (change)="PreviewImage($event)">
            </div> -->
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Public Identifier<sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup></label>
            <input [(ngModel)]="model.id" name="docID" id="accid" type="text" class="form-control" required />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>
              Given Names
              <sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup>
            </label>
            <input [(ngModel)]="name.givenNames" name="fName" id="fname" type="text" class="form-control" required />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Surname<sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup></label>
            <input [(ngModel)]="name.surname" name="lName" id="lname" type="text" class="form-control" required />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Date of Birth<sup class="fas fa-asterisk fw-normal text-danger"
                style="font-size: 8px;"></sup></label>
            <div class="cal-icon">
              <input [(ngModel)]="model.birthDate" name="Dob" id="dob" type="date" class="form-control" required />
            </div>
          </div>
        </div>     
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Gender<sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup></label>
            <select [(ngModel)]="model.gender" class="form-select form-select-sm" id="med3" name="freq" required>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="unknown">Unknown</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Email<sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup></label>
            <input [(ngModel)]="telecom.email" name="emailID" id="email" type="email" class="form-control"
               required />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Phone Number<sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup></label>
            <input [(ngModel)]="telecom.phoneNumber" name="phone" id="mob" type="text" class="form-control"
              required />
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label>Street<sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup></label>
            <input [(ngModel)]="address.street" name="docID" id="accid" type="text" class="form-control"
              placeholder="" required />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>City<sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup></label>
            <input [(ngModel)]="address.city" name="city" id="city" type="text" class="form-control" placeholder=""
              required />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>State<sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup></label>
            <input [(ngModel)]="address.state" name="state" id="state" type="text" class="form-control" placeholder=""
              required />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Country<sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup></label>
            <input [(ngModel)]="address.country" name="speciality" id="spec" type="text" class="form-control"
              placeholder="" required />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Postal Code<sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup></label>
            <input [(ngModel)]="address.postalCode" name="postal" id="post" type="text" class="form-control" placeholder=""
              required />
          </div>
        </div>
        <!-- <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Languages<sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup></label>
            <div class="form-group">
              <select [(ngModel)]="communication.languages" class="form-control" required multiple>
                <option value="Chinese">Chinese - 中文</option>
                <option value="Spanish">Spanish - español</option>
                <option value="English">English</option>
                <option value="Hindi">Hindi - हिन्दी</option>
                <option value="Arabic">Arabic - العربية</option>
                <option value="Portuguese">Portuguese - português</option>
                <option value="Bengali">Bengali - বাংলা</option>
                <option value="Russian">Russian - русский</option>
                <option value="Japanese">Japanese - 日本語</option>
                <option value="Punjabi">Punjabi - ਪੰਜਾਬੀ</option>
                <option value="French">French - français</option>
                <option value="German">Deutsch - German</option>
            </select>
            </div>
          </div>
        </div> -->
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Preferred Language<sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup></label>
            <input [(ngModel)]="communication.preferred" name="pref" id="pref" type="text" class="form-control" required />
            <!-- <div class="form-group">
              <select onchange="changePreferred($event.target.value)" class="form-control" required>
                <option></option>
                <option value="Chinese">Chinese - 中文</option>
                <option value="Spanish">Spanish - español</option>
                <option value="English">English</option>
                <option value="Hindi">Hindi - हिन्दी</option>
                <option value="Arabic">Arabic - العربية</option>
                <option value="Portuguese">Portuguese - português</option>
                <option value="Bengali">Bengali - বাংলা</option>
                <option value="Russian">Russian - русский</option>
                <option value="Japanese">Japanese - 日本語</option>
                <option value="Punjabi">Punjabi - ਪੰਜਾਬੀ</option>
                <option value="French">French - français</option>
                <option value="German">Deutsch - German</option>
            </select>
            </div> -->
          </div>
        </div>
        <div class="col-12 col-sm-6">
        <div class="form-group" style="margin-top: 1.8em;">
          <button type="submit" id="btn" class="btn btn-primary form-control" >
            Add Doctor</button>
          </div>
        </div>
      </div>
     
    </form>
  </div>
  <app-progress_card [success]="success" [show]="show" [msg_text]="msg_text" [warn]="warn" (retry)="onAddDocSubmit()" (close)="onClose()">
  </app-progress_card>
</div>
